---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user16%40example.com&name=Jamie+Rider&metadata[user_id]=2841
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 00f009c1-93a3-44fd-bbb2-c3fd0b31d4e0
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 00f009c1-93a3-44fd-bbb2-c3fd0b31d4e0
      Original-Request:
      - req_3aXUiCjXzvIuZj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UxWoYT6O4sOCr3",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1785109592,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user16@example.com",
          "invoice_prefix": "2WFKSVXF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "user_id": "2841"
          },
          "name": "Jamie Rider",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 26 Jul 2026 23:46:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=payment&customer=cus_UxWoYT6O4sOCr3&line_items[0][price_data][currency]=aed&line_items[0][price_data][unit_amount]=10000&line_items[0][price_data][product_data][name]=BMW+2&line_items[0][quantity]=1&line_items[0][tax_rates][0]=txr_1TxSGyIvmGMpneAkCn5YhyWi&invoice_creation[enabled]=true&success_url=http%3A%2F%2Fwww.example.com%2Fcheckout%2Fconfirmation%2FZMR-TEST-10&[...]
