---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user10%40example.com&name=Jamie+Rider&metadata[user_id]=177
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 33b44365-0bcb-4070-bcaf-fbe94fdc1340
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 33b44365-0bcb-4070-bcaf-fbe94fdc1340
      Original-Request:
      - req_uCNg9p4lTPvwmn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UudTzM7f2KPcKw",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1784442493,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user10@example.com",
          "invoice_prefix": "ZTDIIUXI",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "user_id": "177"
          },
          "name": "Jamie Rider",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 19 Jul 2026 06:28:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=payment&customer=cus_UudTzM7f2KPcKw&line_items[0][price_data][currency]=aed&line_items[0][price_data][unit_amount]=10000&line_items[0][price_data][product_data][name]=Ford+8&line_items[0][quantity]=1&invoice_creation[enabled]=true&success_url=http%3A%2F%2Fwww.example.com%2Fcheckout%2Fconfirmation%2FZMR-1000&cancel_url=http%3A%2F%2Fwww.example.com%2Fcheckout&metadata[order_id]=119&metadata[order_number]=ZMR-1000
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 711c3d7b-5afa-44f6-96f3-2cb68a31c189
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 711c3d7b-5afa-44f6-96f3-2cb68a31c189
      Original-Request:
      - req_PqNtGrzk1yAKgm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1LT3BNRdOQuoNJBegCzmKAg81UZCzf13wNYoUXqSoPdaEfazea5xpq7lQ",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": true
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 10000,
          "amount_total": 10000,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#ffffff",
            "border_style": "rounded",
            "button_color": "#0074d4",
            "display_name": "Test Zoomora sandbox",
            "font_family": "default",
            "icon": null,
            "logo": null
          },
          "cancel_url": "http://www.example.com/checkout",
          "client_reference_id": null,
          "client_secret": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": 1784442494,
          "currency": "aed",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_UudTzM7f2KPcKw",
          "customer_account": null,
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "user10@example.com",
            "individual_name": null,
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": null,
          "discounts": [],
          "expires_at": 1784528894,
          "integration_identifier": null,
          "invoice": null,
          "invoice_creation": {
            "enabled": true,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": {
                "type": "self"
              },
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "order_id": "119",
            "order_number": "ZMR-1000"
          },
          "mode": "payment",
          "origin_context": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": {
            "id": "pmc_1TugekIvmGMpneAkNr1i4XlP",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "payment_status": "unpaid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": "disabled",
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://www.example.com/checkout/confirmation/ZMR-1000",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted_page",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1LT3BNRdOQuoNJBegCzmKAg81UZCzf13wNYoUXqSoPdaEfazea5xpq7lQ#fidnandhYHdWcXxpYCc%2FJ2FgY2RwaXEnKSdicGRmZGhqaWBTZHdsZGtxJz8nZmprcXdqaScpJ2R1bE5gfCc%2FJ3VuWnFgdnFaMDRRcGJgR0xzaEJIdWtgRG5Nc3I1aUNvXX1dSEtdcl01Tk5DSlQyb19IUVN8bzZdUU9OZGJSa3FXRlJUVmB2MXVqMlB1cUZQaWpNNFM0MGg1fzRNazdobjQ1NWhETENMQEJNJyknY3dqaFZgd3Ngdyc%2FcXdwYCknZ2RmbmJ3anBrYUZqaWp3Jz8nJmNjY2NjYycpJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl",
          "wallet_options": null
        }
  recorded_at: Sun, 19 Jul 2026 06:28:10 GMT
recorded_with: VCR 6.4.0
