---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: UTF-8
      string: name=PODWARN20&duration=forever&percent_off=20
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - afea9034-287c-4983-b624-8f7a083e0424
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - afea9034-287c-4983-b624-8f7a083e0424
      Original-Request:
      - req_LtPJioL7UfiuAU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "hR3tuJ6o",
          "object": "coupon",
          "amount_off": null,
          "created": 1785107176,
          "currency": null,
          "duration": "forever",
          "duration_in_months": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "name": "PODWARN20",
          "percent_off": 20.0,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Sun, 26 Jul 2026 23:06:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes
    body:
      encoding: UTF-8
      string: promotion[type]=coupon&promotion[coupon]=hR3tuJ6o&code=PODWARN20&active=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - c1e43b88-48b5-4c02-90aa-e41e9afdcdfd
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c1e43b88-48b5-4c02-90aa-e41e9afdcdfd
      Original-Request:
      - req_iAprSfyGyxWi94
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1Txb7dIvmGMpneAkLtbyTzfo",
          "object": "promotion_code",
          "active": true,
          "code": "PODWARN20",
          "created": 1785107177,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "hR3tuJ6o",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 26 Jul 2026 23:06:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/promotion_codes/promo_1Txb7dIvmGMpneAkLtbyTzfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - 2026-06-24.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1Txb7dIvmGMpneAkLtbyTzfo",
          "object": "promotion_code",
          "active": true,
          "code": "PODWARN20",
          "created": 1785107177,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "hR3tuJ6o",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 26 Jul 2026 23:06:17 GMT
recorded_with: VCR 6.4.0
