---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: UTF-8
      string: name=AUTUMN5&duration=forever&amount_off=500&currency=aed
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 045e3df7-6f1d-42f2-a694-4aab29e5088b
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 045e3df7-6f1d-42f2-a694-4aab29e5088b
      Original-Request:
      - req_HWsj0o3u6q5ZAb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "Z2DB4Cwn",
          "object": "coupon",
          "amount_off": 500,
          "created": 1784444475,
          "currency": "aed",
          "duration": "forever",
          "duration_in_months": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "name": "AUTUMN5",
          "percent_off": null,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Sun, 19 Jul 2026 07:01:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes
    body:
      encoding: UTF-8
      string: promotion[type]=coupon&promotion[coupon]=Z2DB4Cwn&code=AUTUMN5&active=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 6f7972e7-abc4-46f5-be4c-0d747ba1d321
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6f7972e7-abc4-46f5-be4c-0d747ba1d321
      Original-Request:
      - req_iAVd6r2VQKbqCb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1TuoiuIvmGMpneAkgHddyhJD",
          "object": "promotion_code",
          "active": true,
          "code": "AUTUMN5",
          "created": 1784444476,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "Z2DB4Cwn",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 19 Jul 2026 07:01:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes/promo_1TuoiuIvmGMpneAkgHddyhJD
    body:
      encoding: UTF-8
      string: active=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 1c038c60-2252-4f21-bc0b-5476fbf63533
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
