---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: UTF-8
      string: name=SPRING10&duration=forever&percent_off=10
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 74ca2ddc-b141-4e45-904e-1227be4722a0
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 74ca2ddc-b141-4e45-904e-1227be4722a0
      Original-Request:
      - req_unGPJnqGqa31AW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "0SAyAROK",
          "object": "coupon",
          "amount_off": null,
          "created": 1784444473,
          "currency": null,
          "duration": "forever",
          "duration_in_months": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "name": "SPRING10",
          "percent_off": 10.0,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Sun, 19 Jul 2026 07:01:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes
    body:
      encoding: UTF-8
      string: promotion[type]=coupon&promotion[coupon]=0SAyAROK&code=SPRING10&active=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - be34a57a-ef32-4afd-8d45-edd290635bc5
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - be34a57a-ef32-4afd-8d45-edd290635bc5
      Original-Request:
      - req_IhxNvdpJgZAzxf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1TuoisIvmGMpneAklAMzcKrO",
          "object": "promotion_code",
          "active": true,
          "code": "SPRING10",
          "created": 1784444474,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "0SAyAROK",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 19 Jul 2026 07:01:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes/promo_1TuoisIvmGMpneAklAMzcKrO
    body:
      encoding: UTF-8
      string: active=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - a7ac27cf-908c-4cc5-a019-95c56b465e84
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
[...]
