---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: UTF-8
      string: name=WINTER15&duration=forever&percent_off=15
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - d7577965-724f-4d63-9cf7-8bde9d1ddbf0
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d7577965-724f-4d63-9cf7-8bde9d1ddbf0
      Original-Request:
      - req_VO3bpJ7f0wXQ1P
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "NnM3umBI",
          "object": "coupon",
          "amount_off": null,
          "created": 1784444471,
          "currency": null,
          "duration": "forever",
          "duration_in_months": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "name": "WINTER15",
          "percent_off": 15.0,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Sun, 19 Jul 2026 07:01:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes
    body:
      encoding: UTF-8
      string: promotion[type]=coupon&promotion[coupon]=NnM3umBI&code=WINTER15&active=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - b4a21663-8eed-4b0d-b58d-7839d13ab489
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b4a21663-8eed-4b0d-b58d-7839d13ab489
      Original-Request:
      - req_lyustNTN593BJC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1TuoipIvmGMpneAkSZWKBvr4",
          "object": "promotion_code",
          "active": true,
          "code": "WINTER15",
          "created": 1784444471,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "NnM3umBI",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 19 Jul 2026 07:01:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes/promo_1TuoipIvmGMpneAkSZWKBvr4
    body:
      encoding: UTF-8
      string: active=false
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - ce9c5e53-282e-4d7c-9f24-7ecefc08c693
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content[...]
