---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=aed&payment_method=pm_card_visa&confirm=true&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - d0c4b8ed-1401-44a2-a7e6-dc28363f717b
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d0c4b8ed-1401-44a2-a7e6-dc28363f717b
      Original-Request:
      - req_falJjpS9awSfpg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TuoXQIvmGMpneAk4ZXRuHSw",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "pi_3TuoXQIvmGMpneAk4ZXRuHSw_secret_SDs5RhkziJXCxlquNBGUatd0I",
          "confirmation_method": "automatic",
          "created": 1784443764,
          "currency": "aed",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": "ch_3TuoXQIvmGMpneAk4jNoBgEI",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TuoXQIvmGMpneAkpiZ1XP1F",
          "payment_method_configuration_details": {
            "id": "pmc_1TugekIvmGMpneAkNr1i4XlP",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 19 Jul 2026 06:49:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: payment_intent=pi_3TuoXQIvmGMpneAk4ZXRuHSw
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - ab35ad5e-1e26-4ffa-83df-7d5f7c41ed74
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ab35ad5e-1e26-4ffa-83df-7d5f7c41ed74
      Original-Request:
      - req_FsfZWyfP95hk6w
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3TuoXQIvmGMpneAk415cboDn",
          "object": "refund",
          "amount": 10000,
          "balance_transaction": "txn_3TuoXQIvmGMpneAk400AdFsi",
          "charge": "ch_3TuoXQIvmGMpneAk4jNoBgEI",
          "created": 1784443766,
          "currency": "aed",
          "customer": null,
          "customer_account": null,
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": "pi_3TuoXQIvmGMpneAk4ZXRuHSw",
          "payment_method": "pm_1TuoXQIvmGMpneAkpiZ1XP1F",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Sun, 19 Jul 2026 06:49:22 GMT
recorded_with: VCR 6.4.0
