---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: UTF-8
      string: name=TESTDISCOUNT20&duration=forever&percent_off=20
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 38c9623b-bc6e-48b6-8bda-14a6e396e4f1
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 38c9623b-bc6e-48b6-8bda-14a6e396e4f1
      Original-Request:
      - req_HFA2XeOlo3aBtv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "S20Mxxc0",
          "object": "coupon",
          "amount_off": null,
          "created": 1784470870,
          "currency": null,
          "duration": "forever",
          "duration_in_months": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "name": "TESTDISCOUNT20",
          "percent_off": 20.0,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Sun, 19 Jul 2026 14:21:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes
    body:
      encoding: UTF-8
      string: promotion[type]=coupon&promotion[coupon]=S20Mxxc0&code=TESTDISCOUNT20&active=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - a71a35da-39d0-4715-86ff-0d803e6af968
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a71a35da-39d0-4715-86ff-0d803e6af968
      Original-Request:
      - req_6WuEqEUSTU7xPD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1TuvacIvmGMpneAk0RIXFH77",
          "object": "promotion_code",
          "active": true,
          "code": "TESTDISCOUNT20",
          "created": 1784470870,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "S20Mxxc0",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 19 Jul 2026 14:21:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user2%40example.com&name=Jamie+Rider&metadata[user_id]=74
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 8266414f-0583-47f7-8229-49ecc8362e00
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8266414f-0583-47f7-8229-49ecc8362e00
      Original-Request:
      - req_kLx2FLIuOn1QnE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Uul6Clp5GzawoF",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1784470871,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user2@example.com",
          "invoice_prefix": "BHFKHPSQ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "user_id": "74"
          },
          "name": "Jamie Rider",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 19 Jul 2026 14:21:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=payment&customer=cus_Uul6Clp5GzawoF&line_items[0][price_data][currency]=aed&line_items[0][price_data][unit_amount]=10000&line_items[0][price_data][product_data][name]=Audi+2&line_items[0][quantity]=2&invoice_creation[enabled]=true&success_url=https%3A%2F%2Fexample.com%2Fcheckout%2Fconfirmation%2FZMR-1000&cancel_url=https%3A%2F%2Fexample.com%2Fcheckout&metadata[order_id]=69&metadata[order_number]=ZMR-1000&discounts[0][promotion_code]=promo_1TuvacIvmGMpneAk0RIXFH77
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 9d07fb80-89a9-4900-871a-d4e2e66e9ed3
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9d07fb80-89a9-4900-871a-d4e2e66e9ed3
      Original-Request:
      - req_ayJipQqfV0Zl5B
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1tS1219CGZZViiMzD18jNnRz5iXqMjvTH8kqn426PXH4Rh9kYrv6hGQLm",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": true
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 20000,
          "amount_total": 16000,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#ffffff",
            "border_style": "rounded",
            "button_color": "#0074d4",
            "display_name": "Test Zoomora sandbox",
            "font_family": "default",
            "icon": null,
            "logo": null
          },
          "cancel_url": "https://example.com/checkout",
          "client_reference_id": null,
          "client_secret": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": 1784470872,
          "currency": "aed",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_Uul6Clp5GzawoF",
          "customer_account": null,
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "user2@example.com",
            "individual_name": null,
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": null,
          "discounts": [
            {
              "coupon": null,
              "promotion_code": "promo_1TuvacIvmGMpneAk0RIXFH77"
            }
          ],
          "expires_at": 1784557272,
          "integration_identifier": null,
          "invoice": null,
          "invoice_creation": {
            "enabled": true,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": {
                "type": "self"
              },
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "order_id": "69",
            "order_number": "ZMR-1000"
          },
          "mode": "payment",
          "origin_context": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": {
            "id": "pmc_1TugekIvmGMpneAkNr1i4XlP",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "payment_status": "unpaid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": "disabled",
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "https://example.com/checkout/confirmation/ZMR-1000",
          "total_details": {
            "amount_discount": 4000,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted_page",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1tS1219CGZZViiMzD18jNnRz5iXqMjvTH8kqn426PXH4Rh9kYrv6hGQLm#fidnandhYHdWcXxpYCc%2FJ2FgY2RwaXEnKSdicGRmZGhqaWBTZHdsZGtxJz8nZmprcXdqaScpJ2R1bE5gfCc%2FJ3VuWnFgdnFaMDRRcGJgR0xzaEJIdWtgRG5Nc3I1aUNvXX1dSEtdcl01Tk5DSlQyb19IUVN8bzZdUU9OZGJSa3FXRlJUVmB2MXVqMlB1cUZQaWpNNFM0MGg1fzRNazdobjQ1NWhETENMQEJNJyknY3dqaFZgd3Ngdyc%2FcXdwYCknZ2RmbmJ3anBrYUZqaWp3Jz8nJmNjY2NjYycpJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl",
          "wallet_options": null
        }
  recorded_at: Sun, 19 Jul 2026 14:21:08 GMT
recorded_with: VCR 6.4.0
