---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user1%40example.com&name=Jamie+Rider&metadata[user_id]=2822
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - bc6c4aae-565e-4820-b1e9-efb02f951ee5
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bc6c4aae-565e-4820-b1e9-efb02f951ee5
      Original-Request:
      - req_LrmUB6YsArSiCp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UxWmBlU10RBGZX",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1785109500,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user1@example.com",
          "invoice_prefix": "JEXGMD1S",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "user_id": "2822"
          },
          "name": "Jamie Rider",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 26 Jul 2026 23:45:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=payment&customer=cus_UxWmBlU10RBGZX&line_items[0][price_data][currency]=aed&line_items[0][price_data][unit_amount]=10000&line_items[0][price_data][product_data][name]=Ford+1&line_items[0][quantity]=1&line_items[0][tax_rates][0]=txr_1TxSGyIvmGMpneAkCn5YhyWi&invoice_creation[enabled]=true&success_url=https%3A%2F%2Fexample.com%2Fcheckout%2Fconfirmation%2FZMR-TEST-1&can[...]
