---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: UTF-8
      string: name=RESUME20&duration=forever&percent_off=20
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 581ec048-c9e4-48f7-a155-1553bc01c0c9
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 581ec048-c9e4-48f7-a155-1553bc01c0c9
      Original-Request:
      - req_4rUMCPm30O34ps
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "luOCXjCZ",
          "object": "coupon",
          "amount_off": null,
          "created": 1785109504,
          "currency": null,
          "duration": "forever",
          "duration_in_months": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "name": "RESUME20",
          "percent_off": 20.0,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Sun, 26 Jul 2026 23:45:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes
    body:
      encoding: UTF-8
      string: promotion[type]=coupon&promotion[coupon]=luOCXjCZ&code=RESUME20&active=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - d3e9bc65-d876-4eb7-b8dd-a93e903e8af6
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d3e9bc65-d876-4eb7-b8dd-a93e903e8af6
      Original-Request:
      - req_QCD3qvROfFbc5U
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1TxbjBIvmGMpneAkBfa6pAGf",
          "object": "promotion_code",
          "active": true,
          "code": "RESUME20",
          "created": 1785109505,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "luOCXjCZ",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 26 Jul 2026 23:45:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user4%40example.com&name=Jamie+Rider&metadata[user_id]=2825
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - df408cdc-fe5c-4610-a1e9-65dc9c42771a
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - df408cdc-fe5c-4610-a1e9-65dc9c42771a
      Original-Request:
      - req_TFAofWhUrBeSh4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UxWmpLewlVM6A3",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1785109505,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user4@example.com",
          "invoice_prefix": "WY7YJYRE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "user_id": "2825"
          },
          "name": "Jamie Rider",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 26 Jul 2026 23:45:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=payment&customer=cus_UxWmpLewlVM6A3&line_items[0][price_data][currency]=aed&line_items[0][price_data][unit_amount]=10000&line_items[0][price_data][product_data][name]=Ford+4&line_items[0][quantity]=1&line_items[0][tax_rates][0]=txr_1TxSGyIvmGMpneAkCn5YhyWi&invoice_creation[enabled]=true&success_url=https%3A%2F%2Fexample.com%2Fcheckout%2Fconfirmation%2FZMR-TEST-4&can[...]
