---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: UTF-8
      string: name=SAVE20&duration=forever&percent_off=20
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - b5aa36fb-d6ab-4abe-b3df-ec2ff4d9f411
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b5aa36fb-d6ab-4abe-b3df-ec2ff4d9f411
      Original-Request:
      - req_vO8rtzYg0txkS1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "25bfBBJk",
          "object": "coupon",
          "amount_off": null,
          "created": 1785106964,
          "currency": null,
          "duration": "forever",
          "duration_in_months": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "name": "SAVE20",
          "percent_off": 20.0,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Sun, 26 Jul 2026 23:02:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes
    body:
      encoding: UTF-8
      string: promotion[type]=coupon&promotion[coupon]=25bfBBJk&code=SAVE20&active=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 48adeb25-b3b8-4fdb-b4ff-f6d672ac1d6c
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 48adeb25-b3b8-4fdb-b4ff-f6d672ac1d6c
      Original-Request:
      - req_8PAS1jYkxGHzO6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1Txb4DIvmGMpneAkEgqycBU5",
          "object": "promotion_code",
          "active": true,
          "code": "SAVE20",
          "created": 1785106965,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "25bfBBJk",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 26 Jul 2026 23:02:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/promotion_codes/promo_1Txb4DIvmGMpneAkEgqycBU5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - 2026-06-24.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1Txb4DIvmGMpneAkEgqycBU5",
          "object": "promotion_code",
          "active": true,
          "code": "SAVE20",
          "created": 1785106965,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "25bfBBJk",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 26 Jul 2026 23:02:46 GMT
recorded_with: VCR 6.4.0
