---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: UTF-8
      string: name=REMOVE20&duration=forever&percent_off=20
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 6e9c6d0e-2da3-47f0-be42-d824c5b6e875
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6e9c6d0e-2da3-47f0-be42-d824c5b6e875
      Original-Request:
      - req_ybs1zGub9s4zWw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "am5GD4q4",
          "object": "coupon",
          "amount_off": null,
          "created": 1785107032,
          "currency": null,
          "duration": "forever",
          "duration_in_months": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "name": "REMOVE20",
          "percent_off": 20.0,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Sun, 26 Jul 2026 23:03:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/promotion_codes
    body:
      encoding: UTF-8
      string: promotion[type]=coupon&promotion[coupon]=am5GD4q4&code=REMOVE20&active=true
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - f2d83ca5-9130-4d5a-a3e7-ba0ca90fc3dc
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f2d83ca5-9130-4d5a-a3e7-ba0ca90fc3dc
      Original-Request:
      - req_JFsMIZNoygqRBO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1Txb5IIvmGMpneAky0NVUS3A",
          "object": "promotion_code",
          "active": true,
          "code": "REMOVE20",
          "created": 1785107032,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "am5GD4q4",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 26 Jul 2026 23:03:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/promotion_codes/promo_1Txb5IIvmGMpneAky0NVUS3A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - 2026-06-24.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "promo_1Txb5IIvmGMpneAky0NVUS3A",
          "object": "promotion_code",
          "active": true,
          "code": "REMOVE20",
          "created": 1785107032,
          "customer": null,
          "customer_account": null,
          "expires_at": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "promotion": {
            "coupon": "am5GD4q4",
            "type": "coupon"
          },
          "restrictions": {
            "first_time_transaction": false,
            "minimum_amount": null,
            "minimum_amount_currency": null
          },
          "times_redeemed": 0
        }
  recorded_at: Sun, 26 Jul 2026 23:03:53 GMT
recorded_with: VCR 6.4.0
