---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_Uud9RM6zxXLk2p&return_url=http%3A%2F%2Fwww.example.com%2Faccount
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 462d1929-d997-4058-ae6a-b4b297520d7f
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 462d1929-d997-4058-ae6a-b4b297520d7f
      Original-Request:
      - req_tEG5OKC45hhFds
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_1Tuov4IvmGMpneAklBXapzCr",
          "object": "billing_portal.session",
          "configuration": "bpc_1Tuov4IvmGMpneAkNoUr4ACx",
          "created": 1784445230,
          "customer": "cus_Uud9RM6zxXLk2p",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://www.example.com/account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8xVHVnZUJJdm1HTXBuZUFrLF9VdWVEcGxObWZ3MzJ5MjB6MkRkaDV5TmlFbnVtSHgz0100WqXf4KSY"
        }
  recorded_at: Sun, 19 Jul 2026 07:13:46 GMT
recorded_with: VCR 6.4.0
